<!DOCTYPE html>
<html>

<head>
    <%- include('./head') %>
        <title>E-achat - Compte de <%= user.prenom %>
                <%= user.nom %>
        </title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <div class="container">
        <%- include('./header') %>
        <main class="content">
            <a href="/logout"><button class="btn btn-danger">Se déconnecter</button></a>
        </main>
            <%- include('./footer') %>
    </div>
</body>
<script src="https://kit.fontawesome.com/8c916de43d.js" crossorigin="anonymous"></script>
<script src="/js/main.js"></script>

</html>