<!DOCTYPE html>
<html>

<head>
  <%- include('./head') %>
  <title>Accueil</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
  <div class="container">
    <%- include('./header') %>
      <main class="content">
        <section>
          <div class="categories">
            <%
              let nomSousCategorie1 = "";
              let nomSousCategorie2 = "";
              let urlSousCategorie1 = "";
              let urlSousCategorie2 = "";
              %>
            <% for (let i = 0; i < categorie.length; i++) { 

              switch(categorie[i].id) {
                case "63f612da1431276e1dc24343" :
                  nomSousCategorie1 = "Écrans";
                  nomSousCategorie2 = "Disques durs externes";
                  urlSousCategorie1 = "ecrans";
                  urlSousCategorie2 = "disques-durs-externes";
                  break;
                case "63f613361431276e1dc24344":
                  nomSousCategorie1 = "Pc gamer";
                  nomSousCategorie2 = "Pc portables";
                  urlSousCategorie1 = "pc-gamer";
                  urlSousCategorie2 = "pc-portables";
                  break;
                case "63f613441431276e1dc24345":
                  nomSousCategorie1 = "Cartes graphiques";
                  nomSousCategorie2 = "Processeurs";
                  urlSousCategorie1 = "cartes-graphiques";
                  urlSousCategorie2 = "processeurs";
                  break;
                case "63f619731431276e1dc24346":
                  nomSousCategorie1 = "Souris gamer";
                  nomSousCategorie2 = "Claviers gamer";
                  urlSousCategorie1 = "souris-gamer";
                  urlSousCategorie2 = "claviers-gamer";
                  break;
              } %>
            <article class="category-card">
              <div class="image-category">
                <img src="/images/accueil/<%= categorie[i].nom_url %>.png" alt="<%= categorie[i].nom %>" title="<%= categorie[i].nom %>">
              </div>
              <h2><a href=/categories/<%= categorie[i].nom_url %>><%= categorie[i].nom %></a></h2>
              <p class="sub-category"><a href="/sub-categories/<%= urlSousCategorie1 %>"><%= nomSousCategorie1 %></a></p>
              <p class="sub-category"><a href="/sub-categories/<%= urlSousCategorie2 %>"><%= nomSousCategorie2 %></a></p>
            </article>
            <% } %>
          </div>
        </section>
        <hr>
        <h2 class="text-align-center font-32 marques">Les marques</h2>
        <section>
          <div class="brand-links-container">
            <div class="brand-links">
              <% for (marque of marques) { %>
              <a href="/brand/<%= marque.nom %>"><img src="/images/accueil/<%= marque.nom %>.png" alt="Logo de la marque <%= marque.nom %>" width="100"></a>
              <% } %>
            </div>
          </div>
        </section>
      </main>
      <%- include('./footer') %>
  </div>
</body>
<script src="https://kit.fontawesome.com/8c916de43d.js" crossorigin="anonymous"></script>
<script src="/js/main.js"></script>

</html>