<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Inscription</title>
    <meta name="description" content="Formulaire d'inscription au site">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap" rel="stylesheet">
</head>

<body>

    <div class="container">
        <%- include('./header.ejs') %>
        <main class="content">
            <div class="inscription">
                <div class="error">
                    <% if(locals.erreurs) { for(let i=0; i < erreurs.length; i++) { %>
                        <p class="text-danger">
                            <%= erreurs[i] %>
                        </p>
                        <% } } %>
                </div>
                <form action="/sign-up" method="post">
                    <input type="text" name="prenom" placeholder="Prenom" value=<%=locals.body ? body.prenom : "" %>>
                    <input type="text" name="nom" placeholder="Nom" value=<%=locals.body ? body.nom : "" %>>
                    <input type="email" name="email" placeholder="Email">
                    <input type="password" name="motDePasse" placeholder="Mot de Passe">
                    <input type="tel" name="telephone" placeholder="Telephone">
                    <input type="text" name="adresse" placeholder="Adresse">
                    <input type="submit" value="S'inscrire">
                </form>
            </div>
        </main>
            <%- include('./footer.ejs') %>
    </div>
</body>
<script src="https://kit.fontawesome.com/8c916de43d.js" crossorigin="anonymous"></script>

</html>